In [1]:
import pandas as pd

In [11]:
# url = 'https://vincentarelbundock.github.io/Rdatasets/csv/openintro/russian_influence_on_us_election_2016.csv'

url = '~/JProjects/vma/data/data.csv'

# url = 'https://tinyurl.com/simulated-data'  doesn't work

# data = pd.read_csv(url, header=1)
data = pd.read_csv(url, header=1)

In [12]:
data.head()

   5  2015-01-01 00:00:00  0
0  5  2015-01-01 00:00:01  0
1  9  2015-01-01 00:00:02  0
2  6  2015-01-01 00:00:03  0
3  6  2015-01-01 00:00:04  0
4  9  2015-01-01 00:00:05  0

In [8]:
data.describe()

          integer  category
count  100.000000     100.0
mean     5.500000       0.0
std      2.634273       0.0
min      1.000000       0.0
25%      4.000000       0.0
50%      6.000000       0.0
75%      8.000000       0.0
max      9.000000       0.0