In [1]:
import pandas as pd

In [4]:
data = pd.read_json('~/JProjects/vma/data/data.json', orient='columns')

In [5]:
data.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0